@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.perspective-container {
  perspective: 550px;
  transform-style: preserve-3d;
}

.perspective-content {
  transform: rotate3d(1, 0, 0, 25deg);
  /* Any other transformations or styles for content */
}

.sliderContent {
  animation: scroll 10s linear infinite;
}
:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --scroll-start: 0;
  --gap: calc(var(--size) / 6);
  --scroll-end: calc(-100% - var(--gap));
}

@keyframes scroll {
  0% {
    transform: translateX(var(--scroll-start));
  }
  100% {
    transform: translateX(var(--scroll-end));
  }
}


.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  /* For WebKit-based browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
      display: none;
  }
}
